<mat-toolbar color="primary" class="navBar">
  <div>{{ pageTitle }}</div>
  <div>
    <span>
      <button [hidden]="!authenticated()" routerLink="/" mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button [hidden]="!authenticated()" (click)="logout()" mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>input</mat-icon>
      </button>
      <button [hidden]="authenticated()" routerLink="/login" mat-raised-button color="warn">
        Login
      </button>
      <button [hidden]="authenticated()" routerLink="/signUp" mat-raised-button color="warn">
        Sign Up
      </button>
    </span>
  </div>
</mat-toolbar>
