<mat-toolbar color="primary" class="navBar">
  <div>{{ pageTitle }}</div>
  <div>
    <span>
      <button routerLink="/" mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button [hidden]="authenticated()" (click)="logout()" routerLink="/logout" mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>input</mat-icon>
      </button>
      <button [hidden]="!authenticated()" routerLink="/login" mat-raised-button color="warn">
        Login
      </button>
    </span>
  </div>
</mat-toolbar>
