<mat-toolbar color="primary" class="navBar">
  <div>{{ pageTitle }}</div>
  <div>

    <span>
      <button [hidden]="!authenticated()" routerLink="/" mat-mini-fab color="warn" matTooltip="home">
        <mat-icon>home</mat-icon>
      </button>
      <button [hidden]="!authenticated()" routerLink="/search" mat-mini-fab color="warn" matTooltip="Search">
        <mat-icon>search</mat-icon>
      </button>
      <button [hidden]="!authenticated()" (click)="logout()" mat-mini-fab color="warn" matTooltip="logout">
        <mat-icon>input</mat-icon>
      </button>
      <button [hidden]="authenticated()" routerLink="/login" mat-raised-button color="warn">
        Login
      </button>
      <button [hidden]="authenticated()" routerLink="/signUp" mat-raised-button color="warn">
        Sign Up
      </button>
    </span>
  </div>
</mat-toolbar>
