<app-navigation-bar pageTitle="LOGIN PAGE!"></app-navigation-bar>

<mat-card class="my-card">
  <mat-toolbar class="cardTitle">
    <span>LOGIN</span>
  </mat-toolbar>
  <mat-card-content>
    <form class="my-form" (submit)="login()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <label>
          <input  matInput  placeholder="Username" name="username" [(ngModel)]="credentials.username">
        </label>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <label>
          <input  matInput  type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password">
        </label>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">LOGIN</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
